.main
  .messages
    .message
      .message__content
        .message__content__image
          000
        .message__content__content
          %p#text ya----ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
    .message
      .message__content
        .message__content__image
        .message__content__content
          ya----
    .message
      .message__content
        .message__content__image
        .message__content__content
    .message
      .message__content
        .message__content__image
          111
        .message__content__content
    .message
      .message__content
        .message__content__image
        .message__content__content
          ya--
    .message
      .message__content
        .message__content__image
        .message__content__content
          ya----
    .message
      .message__content
        .message__content__image
          111
        .message__content__content
          yy
    .message
      .message__content
        .message__content__image
        .message__content__content
          ya--
    .message
      .message__content
        .message__content__image
        .message__content__content
          ya--
    .message
      .message__content
        .message__content__image
        .message__content__content
    .message
      .message__content
        .message__content__image
          111
        .message__content__content
          yy
    .message
      .message__content
        .message__content__image
        .message__content__content
          ya--
      
  