.groups
  -# .group
  -#   .group_type
  -#     =link_to "犬", "#"
  .group
    -# - binding.pry
    -@list_tags.each do |tag|
      .group_type
        =tag.tag_name
        ="(#{tag.message_tags.count})"
  - @all_ranks.each do |message|
    = message.id
  - @most_views.each do |message|
    = message.id
    