.groups
  .group
    .group_type
      =link_to "犬", "#"
  .group
    .group_type
      猫
  .group
    .group_type
      亀
  .group
    .group_type
      猿
  .group
    .group_type
      めだか
  - @all_ranks.each do |message|
    = message.id
  - @most_views.each do |message|
    = message.id
    