= render "header"
-# = render "side_bar"
.show
  .show__image
    - @message.images.each do |image|
      = image_tag image.image.url
  .show__message
    = @message.content
  .show__comment
  = link_to "削除", message_path(@message.id), method: "delete"
    
