- unless current_user?(@user)
  #follow_form
  -if current_user.following?(@user)
    = render 'unfollow'
  - else
    = render 'follow'

-# https://docs.google.com/document/d/10CvPolWYUd_eqafZeeFXEpZdhq5_Yyai6h93TOx1sNY/edit#
-# https://docs.google.com/document/d/1BKB7kFp_erJAc63W4BKdzNgRwe7_OvO4MlECXT_iaJA/edit#heading=h.uc9r1bu1xm1f
-# https://docs.google.com/document/d/10CvPolWYUd_eqafZeeFXEpZdhq5_Yyai6h93TOx1sNY/edit#heading=h.dudefr7d7aao
