* {
  box-sizing: border-box;
}

.groups {
  background-color: red;
  width: 20%;
  height: calc(100vh - 56px);
  float: left;
  .group {
    height: 50%;
    background-color: green;
    padding: 10px 20px;
  }
}

.main {
  width: 80%;
  height: calc(100vh - 56px);
  background-color: pink;
  float: right;
  overflow: scroll;
  margin: 0 auto;
  .messages {
    width: 95%;
    background-color: skyblue;
    margin: 30px auto;
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
    .message {
      width: 25%;
      padding-right: 10px;
      height: 250px;
      background-color: yellow;
      margin-bottom: 10px;
      &__content {
        width: 100%;
        height: 100%;
        background-color: goldenrod;
        &__image {
          height: 70%;
          width: 100%;
          background-color: goldenrod;
          // .message__content__image img {
          //   height: 30px;
          //   width: 30px;
          // }
        }
        &__content {
          height: 30%;
          width: 100%;
          background-color: gray;
          // text-overflow:ellipsis; 
          #text {
            overflow:hidden;
            text-overflow: ellipsis;
          }
        } 
      }
    }
  }
  .pagination {
    display: block;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
  }
}
.relative {
  position: relative;
  display: block;  
}

.dropdown {
  z-index:1000;
  background:#f8f9fa !important;
  position:absolute;
  top:35px;
  width:150px;
  padding:0px 20px;
  display:none;
  .hiddon {
    display:inline-block;
    margin:10px 0;
    color: rgba(0, 0, 0, 0.9);
    display:block;
    a {
      // color:#fff;
    }
  }
}
.open {
  display:block;
}
.close {
  display:block;
}

.message__tab {
  display: inline-block;
  margin: 20px 0px 0px 20px;
  border: 3px solid;
  cursor: pointer;
  // color: red;
}

.message__rank {
  display: none;
}

.message__type {
  display: none;
}

.group__data {
  display: inline-block;
  cursor: pointer;
}
// .link {
//   // display: none;
// }