* {
  box-sizing: border-box;
}

.groups {
  background-color: #FDF5E6;
  width: 20%;
  height: calc(100vh - 56px);
  float: left;
  .group {
    background-color: #ffffff;
    // height: 50%;
    padding: 10px 20px;
    margin-top: 50px;
    .list_tag {
      padding-top: 50px;
      ul {
        list-style-type: disc;
        padding-left: 15px;
        h5 {
          color: #66CDAA;
        }
        li {
          cursor: pointer;
        }
        li:hover {
          color: skyblue;
        }
      }
      a {
        color: black;
      }
      a:hover {
        color: skyblue;
      }
    } 
  }
}

.main {
  width: 80%;
  height: calc(100vh - 56px);
  background-color: #FDF5E6;
  float: right;
  overflow: scroll;
  margin: 0 auto;
  .messages {
    width: 95%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    .message {
      width: 25%;
      padding-right: 10px;
      height: 250px;
      margin-bottom: 10px;
      &__content {
        background-color: #ffffff;
        border: 1px solid;
        width: 100%;
        height: 100%;
        &__image {
          height: 70%;
          width: 100%;
        }
        &__content {
          height: 30%;
          width: 100%;
          border-top: 1px solid;
          // background-color: gray;
          // text-overflow:ellipsis; 
          #text {
            overflow:hidden;
            text-overflow: ellipsis;
          }
        } 
      }
    }   
  } 
}

.message__normal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.message__old {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.message__rank {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.relative {
  position: relative;
  display: block;  
}

.dropdown {
  z-index:1000;
  background:#f8f9fa !important;
  position:absolute;
  top:35px;
  width:150px;
  padding:0px 20px;
  display:none;
  .hiddon {
    display:inline-block;
    margin:10px 0;
    color: rgba(0, 0, 0, 0.9);
    display:block;
  }
}
.open {
  display:block;
}
.close {
  display:block;
}

.message__tab {
  display: inline-block;
  margin: 20px 0px 0px 20px;
  border: 3px solid;
  cursor: pointer;
}

// .message__rank {
//   display: none;
// }

// .message__old {
//   display: none;
// }

.message__type {
  display: none;
}

.group__data {
  display: inline-block;
  cursor: pointer;
}

.pagination {
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 23px;
  // padding-bottom: 20px;
}