.message__new {
  background-color: #FDF5E6;
  padding-bottom: 50px;
  &__post {
    background-color: #ffffff;
    // padding: 50px 0px;
    // margin: 50px 0px;
    padding-bottom: 50px;
    margin: 0px  auto;
    margin-top: 50px;
    width: 500px;
  }
}

.post__title {
  font-size: 25px;
  line-height: 80px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid skyblue;
}

.new-wrapper {
  // width: 500px;
  // height: 500px;
  // margin: 0 auto;
  // padding-bottom: 50px;
  &__main {
    height: 100%;
    width: 100%;
  }
  &__main__title {
    font-size: 20px;
    text-align: center;
  } 
  &__main__post {
    height: 300px;
    width: 400px;
    // background-color: green;
    margin: 0 auto;
    .new-wrapper__main__image {
      // font-size: 30px;
      text-align: center;
      // margin: 0 auto;
      width: 100%;
    }
  }
  &__main__content {
    height: 100px;
    width: 400px;
    margin: 20px auto;
    &--text {
      padding: 10px;
      width: 100%;
      height: 100%;
    } 
  }
  &__main__tag {
    height: 100px;
    width: 400px;
    margin: 20px auto;
    .other__choise {
      display: none;
      width: 100%;
      margin-top: 10px;
    }
    #message_tag_ids {
      width: 100%;
      height: 30px;
    }
  }
  &__main__submit {
    text-align: center;
    &--btn {
      height: 50px;
      width: 400px;
      cursor: pointer;
      text-align: center;
      // margin: 0 auto;
      display: inline-block;
    }
  }
}

.file-field {
  display: none;
}
.flexbox {
  width: 100%;
}

.fas {
  text-align: center;
  margin-left: 10px;
}

.far {
  margin-left: 10px;
}

.item-image {
  display: inline-block;
  margin-left: 10px;
  width: 110px;
  height: 117px;
  margin-bottom: 10px;
  &__operetion {
    border: 2px solid;
  }
}

.item-image__operetion--delete--edit {
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}

.item-image__operetion--delete {
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}