.show {
  // height: 600px;
  width: 50%;
  background-color: skyblue;
  margin: 30px auto;
  position: relative;
  .more {
    position: absolute;
    clear :both;
    cursor: pointer;
    top: 20px;
    right: 30px;
    z-index: 999;
    // background-color: gray;
    height: 100px;
    width: 80px;
    text-align: right;
    &:hover ul.more__list {
      display: block;
    }
    ul.more__list {
      position: absolute;
      text-align: left;
      width: 80px;
      right: 0;
      font-size: 12px;
      background-color: #fff;
      border: 1px solid #ddd;
      display: none;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
      border-radius: 3px;
      li {
        border-bottom: 1px solid #ddd;
        &:last-child {
          border-bottom: 0;
        }
        a {
          display: block;
          padding: 5px;
          &:hover {
            background-color: red;
            color: #fff;
          }
        }
      }
    }
  }
  &__image {
    height: 60vh;
    width: 100%;
    // background-color: green;
  }
  &__user {
    &__name {
      float: right;
    }
    &__time {
      float: right;
    }
  }
  &__message {
    height: 150px;
    width: 100%;
    overflow: scroll;
    background-color: yellow;
  }
  &__comment {
    margin-top: 50px;
    background-color: red;
    width: 100%;
    height: 120px;
    &__text {
      width: 70%;
      height: 70px;
      margin: 0 auto;
      display: inline-block;
    } 
    &__form {
      width: 70%;
      cursor: pointer;
      margin: 0 auto;
      background-color: skyblue;
    }
  }
  .new_comment {
    display: block;
    text-align: center;
  }
  &__comments {
    width: 100%;
    height: 300px;
    overflow: scroll;
    // background-color: steelblue;
    &__comment {
      padding-left: 60px;
      display: inline-block;
      &__name {
      }
      a {
        text-decoration: none;
      }
      &__text {
        margin-left: 15px;
        display: inline-block;
      }
    }
  }
  &__title{
    padding-left: 60px;
  }
}

.slick-prev.slick-arrow {
  display: none;
}

.slick-dots {
  display: none;
}

.slick-track {
  width: 100%;
  height: 100%;
}

.slick-list {
  width: 100%;
  height: 100%;
}